Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
# i. 
a = "Osama"

# ii.
b = [1,2,3,a, 3.5, False, 8-5j,'INDIA']

# iii.
c = 8.2

# iv.
d = (a, c, "PW")

#print (a,type(a),b,type(b),c,type(c),d,type(d))

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

(i) var1 is string
(ii) var2 is string
(iii) var3 is list
(iv) var4 is float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [31]:
#      / is used for division
a =35
b = 2
print(a/b)

#      % is known as modulus and is used for getting remainder
print(a%b)

#     // is known as floor division 
print(a//b)

#     ** is used as power
print(a**b)

17.5
1
17
1225

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
l = [2,3,4,5,6,'osama', 'patna' , 23.45,True , 2+3j]

for i in l:
    print(i, type(i))
else:
    print('Loop is completed')

2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
osama <class 'str'>
patna <class 'str'>
23.45 <class 'float'>
True <class 'bool'>
(2+3j) <class 'complex'>
Loop is completed

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [38]:
A = int(input())
B = int(input())
C = A//B
D = A%B
e= 0
while D ==0:
    print('A is purely divisible by B and the number of times A can be divisible by B is ' , C)
    e+=1
    if e==1:
        break
else:
    print('A is not purely divisible by B and the number of times A can be divisible by B is ' , C)

 100
 20

A is purely divisible by B and the number of times A can be divisible by B is  5

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [15]:
l =list(range(10,35))

for i in l:
    if (i//3 ==0):
        print(i , 'is divisible by 3')
        i+=1
    else :
        print(i , 'is not divisible by 3')
        i+=1

10 is not divisible by 3
11 is not divisible by 3
12 is not divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is not divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is not divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is not divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is not divisible by 3
25 is not divisible by 3
26 is not divisible by 3
27 is not divisible by 3
28 is not divisible by 3
29 is not divisible by 3
30 is not divisible by 3
31 is not divisible by 3
32 is not divisible by 3
33 is not divisible by 3
34 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [18]:
#Mutable date types are those container objects in which we can change their contained data. ex - list.
a = [1,2,'Ind', 5.2]
print(type(a))
#here a[1] contains 2. we can change/delete the value from that position in a. 
a[1] = 'pw'
print(a)

<class 'list'>
[1, 'pw', 'Ind', 5.2]

In [19]:
#Immutable data  types are those container objects in which we cannot change their contained data. ex- tuple.
b = (1,2,'Ind', 5.2)
#here also b[1] is 2 but we cannot assign or delete at the postion
b[1] ='pw'

TypeError: 'tuple' object does not support item assignment